body
  background-color: #f6f6f6 !important
  font-size: 62.5% !important

#logo-icon
  float: left
  margin: 1rem 0
#github-icon,
#linkedin-icon,
#fb-icon,
  float: right
  margin: 1rem 1.5rem
  color: #2b2b2b